DISCORD_CLIENT_ID=TU_WKLEJ_CLIENT_ID
DISCORD_CLIENT_SECRET=TU_WKLEJ_CLIENT_SECRET
DISCORD_REDIRECT_URI=https://TWOJ-BACKEND.onrender.com/auth/discord/callback
FRONTEND_URL=https://TWOJ-LOGIN.github.io/TWOJE-REPO/
SESSION_SECRET=TU_WPISZ_DLUGI_LOSOWY_TEKST
GUILD_ID=1131905853574881290
DRIVER_ROLE_ID=1485285606761300078
ADMIN_DISCORD_ID=687348708181934122
PORT=3000
